.Card{
  width: 285px;
  background-color: #FFF7EE;
  border-radius: 15px;
  .Image{
    display: flex;
    justify-content: center;
    padding: 24px 37px;
  }
  .textCard{
    background-color: #ffffff;
    .name{
      font-size: 22px;
      padding-top: 15px;
    }
    .description{
      color: #676767;
      font-size: 14px;
      font-weight: 400;
    }
    .bottomWrapper{
      display: flex;
      justify-content: space-between;
      padding: 20px 0;
      .price{
        font-size: 20px;
      }
      .addBtn{
        border: none;
        background-color: transparent;
        color: #FE5F00;
      }
    }
  }
  
}