.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modalContainer {
    display: flex;
    background: white;
    border-radius: 10px;
    padding: 20px;
    gap: 20px;
    width: 1000px;
  }
  .imageSection{
    display: flex;
    align-items: center;
  }
  .imageSection img {
    border-radius: 10px;
    width: 380px;
  }
  
  .contentSection {
    flex: 1;
    padding: 40px 40px;
    background: #F4F1EE;
    border-radius: 30px;
    .title{
        padding-bottom: 30px;
        font-size: 24px;
    }
  }
  
  .optionsGroup {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    background:#ECECEC;
    border-radius: 30px;
  }
  
  .optionButton {
    padding: 10px;
    border: none;
    border-radius: 30px;
    background:#ECECEC;
    cursor: pointer;
    font-weight: 400;
    padding: 8px 35px;
  }
  
  .optionButton.active {
    background: #ffffff;
    color: rgb(0, 0, 0);
  }
  .toppingsGroup span{
    font-weight: 400;
  }
  .toppingsGroup h4 {
    margin-bottom: 10px;

  }
  
  .toppingsList {
    display: flex;
    gap: 10px;
  }
  
  .toppingItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .toppingItem.active {
    border-color: #ff6600;
  }
  
  .confirmButton {
    width: 100%;
    padding: 15px;
    background: #ff6600;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 0;
  }
  
  .cancelButton {
    width: 100%;
    padding: 15px;
    background: #ccc;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }