.header {
    padding: 45px 0;
    
    .headerWrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      
      .iconContainer {
        display: flex;
        align-items: center;
        gap: 15px;
        
        .iconText1 {
          font-weight: 900;
          font-size: 24px;
        }
        
        .iconText2 {
          font-weight: 400;
          font-size: 16px;
          color: #7B7B7B;
        }
      }
    }
  
    .search {
      position: relative;
      
      .searchVector {
        position: absolute;
        left: 20px;
        top: 17px;
      }
      
      .input {
        outline: none;
        width: 765px;
        height: 50px;
        border-radius: 15px;
        background-color: #F9F9F9;
        border: none;
        padding-left: 50px;
      }
      
      input::placeholder {
        font-weight: 400;
      }
    }
  
    .buttons {
      display: flex;
      gap: 15px;
    }
  
    .signInButton {
      display: flex;
      align-items: center;
      padding: 14px 22px;
      gap: 7px;
      border: 1px solid #FE5F00;
      background-color: transparent;
      border-radius: 15px;
      cursor: pointer;
      transition: background-color 0.5s ease;
  
      &:hover {
        background-color: #ffd4b3;
        border-color: #ffd4b3;
      }
  
      .signInText {
        color: #FE5F00;
      }
    }
  
    .cartButton {
      padding: 18px;
      border: 1px solid #FE5F00;
      background-color: transparent;
      border-radius: 15px;
      cursor: pointer;
      transition: background-color 0.3s ease;
  
      &:hover {
        background-color: #ffd4b3;
        border-color: #ffd4b3;
      }
    }
  }
  