.header {
  padding: 45px 0;

  .headerWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .iconContainer {
    display: flex;
    align-items: center;
    gap: 15px;

    .iconText1 {
      font-weight: 900;
      font-size: 24px;
    }

    .iconText2 {
      font-weight: 400;
      font-size: 16px;
      color: #7b7b7b;
    }
  }

  .search {
    position: relative;
    z-index: 20;
    transition: background-color 0.3s ease;

    .searchVector {
      position: absolute;
      left: 20px;
      top: 17px;
    }

    .input {
      outline: none;
      width: 765px;
      height: 50px;
      border-radius: 15px;
      background-color: #f9f9f9;
      border: none;
      padding-left: 50px;
      transition: background-color 0.3s ease;
    }

    .searchResults {
      position: absolute;
      top: 60px;
      left: 0;
      width: 100%;
      background: #ffffff;
      border-radius: 10px;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
      z-index: 30;

      .resultItem {
        display: flex;
        align-items: center;
        gap: 12px;
        padding: 20px 0;

        .pizzaText {
          display: flex;
          gap: 15px;

          .pizzaprice {
            color: #858585;
            font-weight: 400;
          }
        }
      }
    }

    input::placeholder {
      font-weight: 400;
    }
  }

  .searchDimmed {
    .input {
      background-color: rgba(0, 0, 0, 0.3);
      color: white;
    }

    input::placeholder {
      color: rgba(255, 255, 255, 0.7);
    }
  }

  .buttons {
    display: flex;
    gap: 15px;
  }

  .signInButton {
    display: flex;
    align-items: center;
    padding: 14px 22px;
    gap: 7px;
    border: 1px solid #fe5f00;
    background-color: transparent;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.5s ease;

    &:hover {
      background-color: #ffd4b3;
      border-color: #ffd4b3;
    }

    .signInText {
      color: #fe5f00;
    }
  }

  .cartButton {
    padding: 18px;
    border: 1px solid #fe5f00;
    background-color: transparent;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #ffd4b3;
      border-color: #ffd4b3;
    }
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10;
  cursor: pointer;
}

.cartModal {
  position: fixed;
  top: 0;
  right: -400px;
  width: 350px;
  height: 100vh;
  background: white;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  transition: right 0.3s ease-in-out;
  z-index: 50;
}

.cartOpen {
  right: 0;
}

.disabled {
  pointer-events: none;
}

.closeButton {
  position: absolute;
  top: 15px;
  right: 15px;
  background: transparent;
  border: none;
  cursor: pointer;

  img {
    width: 20px;
    height: 20px;
  }
}
