.sidebar {
    margin-top: 25px;
    width: 250px;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
  
    .sidebarTitle {
      font-size: 18px;
      margin-bottom: 15px;
    }
  
    .filterBlock {
      margin-bottom: 15px;
    }
  
    label {
      display: flex;
      align-items: center;
      margin-bottom: 8px;
      cursor: pointer;
  
      input {
        margin-right: 10px;
        padding: 8px;
        border: 1px solid #bbb; 
        border-radius: 5px;
        transition: border-color 0.3s;
  
        &:focus {
          border-color: #ff6b01;
          outline: none;
        }
      }
    }
  
    .priceRange {
      display: flex;
      align-items: center;
      gap: 10px;
  
      input {
        width: 60px;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 5px;

      
  
        &:focus {
          border-color: #ff6b01; 
          outline: none;
        }
      }
    }
  
    .applyButton {
      width: 100%;
      padding: 10px;
      background: #ff6b01;
      color: white;
      border: none;
      border-radius: 8px;
      cursor: pointer;
      transition: background 0.3s;
  
      &:hover {
        background: #e55a00;
      }
    }
  }
  